.popup__button {
  margin: 48px auto 0;
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  width: 100%;
  height: 50px;
  font-weight: 400;
  transition: all 0.5s;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.popup__button:hover {
  opacity: 0.8;
}
@media (max-width: 767.98px) {
  .popup__button {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
