.card__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: url(../../../images/icon-trash.svg) center center/cover no-repeat;
  width: 18px;
  height: 19px;
  border: none;
  align-self: center;
  transition: all 0.5s;
  z-index: 3;
}
.card__delete:hover {
  opacity: 0.6;
}
