.header__user-area {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 24px;
}

@media (max-width: 425px) {
  .header__user-area {
		flex-direction: column;
    align-items: center;
		gap: 10px;
		order: -1;
	  }
}
