.popup__close {
    background-image: url(../../../images/icon-close.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.popup__close:hover {
    opacity: 0.6;
}

@media (max-width: 770px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -30px;
        right: 0;
    }
}