.profile__edit {
  margin-top: 15px;
  margin-left: 18px;
  background: url(../../../images/icon-pen.svg) center center/cover no-repeat;
  background-size: 10px 10px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.profile__edit:hover {
  opacity: 0.6;
}
@media (max-width: 767.98px) {
  .profile__edit {
    margin-top: 8px;
    margin-left: 10px;
    background-size: 8px 8px;
    width: 18px;
    height: 18px;
  }
}
