.footer {
  padding: 66px 200px 60px;
}

@media (max-width: 1279px) {
  .footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 767.98px) {
  .footer {
    padding: 48px 19px 36px;
  }
}
