.card__like {
  cursor: pointer;
  background: url(../../../images/icon-heart-light.svg) center center/cover no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  align-self: center;
  transition: all 0.5s;
}
.card__like:hover {
  opacity: 0.5;
}
