.popup__container {
  box-sizing: border-box;
  padding: 34px 36px 37px;
  color: #000;
  position: relative;
  width: 100%;
  max-width: 430px;
  max-height: 330px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
@media (max-width: 767.98px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
