.header__loggedin_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    margin: 0;    
}

@media (max-width: 700px) {
    .header__loggedin_links {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: -140px;
        left: 0;
        gap: 20px;
        transition: all 0.2s ease-in-out;
    }

    .header__loggedin_links_visible {
        top: 40px;
    }
}